<h1>The courses are</h1>
NBA Players by name!
<hr>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>PlayerID</th>
            <th>TeamID</th>
        </tr>
    </thead>
    <tbody></tbody>
    <% for (course of courses) {
        const inst = course['firstName'];
         %>
      <tr class="mb-2"> 
        <td>
            <a href="/courses/show/<%=course._id %>">
            <%=  course['playerID'] %>
            <%=  course['teamID'] %>  

            </a>
        </td>

        <td>
          <strong><%= course.name %></strong>
        </td>
        <td>
          <%= inst %>
        </td>
      
    </tr>
    <% } %>
    </tbody>
</table>

<pre>
    <!-- 
        <%= JSON.stringify(courses,null,5) %> 
    -->
</pre>
